.jumbotron{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
.parallax {
    height: 100%;
}
#chichenitza{
    background-image: url("../images/chichen-itza.jpg");
    margin-top: -10px;
}
.parallaxbtn{
    border-color: white;
}
#islamujeres{
    background-image: url("../images/islamujeres.png");
}
#cenote{
    background-image: url("../images/cenote.jpg");
}
#snorkeling{
    background-image: url("../images/snorkeling.jpg");
}
#night{
    background-image: url(../images/party.jpeg);
}
h1{
    font-family: 'Lobster', cursive;
}
body{
    font-family: 'Tiro Telugu', serif;
}
.card-img-top{
    height: 20rem;
}
.orlandoheaderpics{
    width: 100px;
    height: 75px;
}
.universalpic{
    width: 300px;
    height: 300px;
}
@media only screen and (max-width : 768px) {
    .first{
       order: 1;
    }
    .second{
       order: 2;
    }
}
.d-block{
    height: 500px;
}
.cruisestops{
    width: 600px;
    height: 450px;
}
#message{
    height: 100px;
}
#form{
    padding: 3% 20%;
}
.carousel{
    margin-top: -10px;
}
#cntower{
    background-image: url("../images/cnTower.jpg");
    margin-top: -10px;
    background-position: none;
}
#centre{
    background-image: url("../images/airCanadaCentre.jpeg");
}
#nps{
    background-image: url("../images/toronto.jpg");
    background-position: bottom;
}
#niagarafalls{
    background-image: url("../images/niagraFalls.jpg");
}
#footerContact{
    text-decoration: none;
}
#footerVacation{
    font-family: 'Lobster', cursive;
}
i{
    color: white;
}